extends template
block content
    div
        | Будь ласка, підтвердьте свою електронну пошту на new Medical Clinic.
        div
           a(href=frontendUrl + `/confirm/` + token) Підтвердити акаунт
